@import "./_variables.scss";

body {
  background: $color-background;
  color: $color-text;
  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: $line-height-default;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-thumb {
  background-color: $color-dark-grey;
  border-radius: 10px;
}