h1,
h2 {
  font-weight: $font-weight-semi-bold;
  color: $color-title;
}
h1 {
  @extend %heading-XL;
  & + * {
    margin-top: $spacing;
  }
}
h2 {
  @extend %heading-L;
  & + * {
    margin-top: $spacing-S;
  }
}
h3 {
  @extend %heading-S;
  color: $color-title;
  & + * {
    margin-top: $spacing-S;
  }
}
h4 {
  @extend %heading-XS;
  color: $color-title;
  & + * {
    margin-top: $spacing-S;
  }
}
h5 {
  font-size: $font-size-default;
  & + * {
    margin-top: $spacing-S;
  }
}
p {
  @extend %paragraph;
}
a {
  @extend %link;
}