%heading-XL {
  font-size: 36px;
  line-height: 1.3;
  margin: 0;
  * + & {
    margin-top: 0.5em;
  }
}
%heading-L {
  font-size: 28px;
  line-height: 1.3;
  margin: 0;
  * + & {
    margin-top: 0.5em;
  }
}
%heading-S {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  * + & {
    margin-top: $spacing;
  }
}
%heading-XS {
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
  * + & {
    margin-top: $spacing;
  }
}
%heading-monospace {
  font-family: $font-family-monospace;
}
%text-S {
  font-size: 12px;
}
%text-XS {
  font-size: $font-size-small;
}
%paragraph {
  margin: 0;
  * + & {
    margin-top: $spacing;
  }
  & + * {
    margin-top: $spacing;
  }
}
%link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}